@page
@model IndexModel
@{
    ViewData["Title"] = "Chat";
}

<div class="text-center" id="chatArea">

    <div class="input-group mb-3 chatInputContainer">
        <input type="text" id="chatInput" class="form-control" placeholder="Type your query here" aria-label="Type your query here" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="chatInputSubmit">Send</button>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        let chatInput = document.getElementById("chatInput");
        let chatInputSubmit = document.getElementById("chatInputSubmit");

        const createChatBubble = (text, type) => {
            let chatBubble = document.createElement("div");
            chatBubble.classList.add("chatBubble");
            chatBubble.classList.add(type);
            chatBubble.innerText = text;
            chatArea.appendChild(chatBubble);
        }


        chatInput.addEventListener("keyup", function (event) {
            event.preventDefault();
            if (event.keyCode === 13) {
                chatInputSubmit.click();
            }
        });
        chatInputSubmit.addEventListener("click", function (event) {
            event.preventDefault();
            let chatText = chatInput.value;
            if (chatInput != "") {
                createChatBubble(chatText, "chatBubbleUser");
                createChatBubble("response", "chatBubbleAI");
                chatInput.value = "";
            }
        });

        chatInput.focus();
    </script>
}
