html {
    height: 100%;
    margin: 0;
    font-size: 20px;
}

body {
    height: 100%
}

.chatArea {
    height: 100%;
    min-height: 100%;
    position: relative;
}

.chatInputContainer {
    position: absolute;
    bottom: 0;
    padding-top: 12px;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
}

.chatBubble {
    padding: 12px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
    border-radius: 12px;
    color: white;
    max-width: 80%;
}

.chatBubbleUser {
    background: #4682ff;
    text-align: left;
}

.chatBubbleAI {
    margin-left: auto;
    background: #a2fb7c;
    text-align: right;
    color: black;
}

.chatBubbleError {
    margin-left: auto;
    background: red;
    text-align: center;
    color: white;
}
