html {
    height: 100%;
    margin: 0;
    font-size: 20px;
}

body {
    height: 100%
}

.chatPrompts {
    text-align: center;
    height: 40px;
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    padding-left: 24px;
    padding-right: 24px;
    background: #d0d0d0;
}

.chatPromptButton {
    margin-right: 5px;
    margin-top: 1px;
}

.chatHistory {
    position: relative;
    top: 30px;
    /* Firefox */
    min-height: -moz-calc(100% - 90px);
    /* WebKit */
    min-height: -webkit-calc(100% - 90px);
    /* Opera */
    min-height: -o-calc(100% - 90px);
    /* Standard */
    min-height: calc(100% - 90px);
}

.chatInputContainer {
    height: 30px;
    width: 100%;
    clear: both;
    /*position: absolute;*/
    position: relative;
    left: 0;
    bottom: 0;
    padding-left: 24px;
    padding-right: 24px;
}

.chatBubble {
    padding: 12px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
    border-radius: 12px;
    color: white;
    max-width: 80%;
}

.chatBubbleUser {
    background: #4682ff;
    margin-left: auto;
    text-align: right;
}

.chatBubbleAI {
    text-align: left;
    background: #a2fb7c;
    color: black;
}

.chatBubbleError {
    margin-left: auto;
    background: red;
    text-align: center;
    color: white;
}
